//=============================================================================
// The variables used throughout all sass files.
//=============================================================================

// Font
$baseFontFamily: "arial";

// Color palette
$white: #fff;
$whiteSand: #f5f5f5;
$gallery: #efefef;
$lightGrey: #f5f6f6;
$alto: #d8d8d8;
$silver: #cad4da;
$silverSand: #c6c8ca;
$athensGrey: #f9fafb;
$coolGrey: #a1a3a8;
$grayChateau: #a3acb4;
$darkGreyChateau: #949faa;
$submarine: #bac1c7;
$steelGrey: #7a7e88;
$shuttleGrey: #555a67;
$slateGrey: #515663;
$darkGreyBlue: #34485e;
$azure: #00a6e8;
$waterBlue: #1173cd;
$cerulean: #0663c5;
$oceanBlue: #005eb8;
$slimeGreen: #84d20d;
$goldenYellow: #ffc418;
$pastelRed: #ea5c50;
$black: #000;
$red: #dd4330;
$ivory: #fbffcf;
$darkIvory: #e5f06e;
$orange: #ffa500;

$contentBackgroundColor: $lightGrey;

$navigationHeight: 5rem;
$navigationBackgroundColor: #333;
$navigationItemBorderColor: #bbb;
$navigationItemActiveColor: #bbb;
$navigationItemHoverColor: #111;

$footerHeight: 3rem;
$footerBackgroundColor: $silverSand;
$footerBorderColor: $slateGrey;
