@import "variables";

ul {
    margin: 0;
    border: 1px $navigationBackgroundColor solid;
    background-color: $navigationBackgroundColor;
    padding: 0;
    overflow: hidden;
    list-style-type: none;

    li {
        float: left;
        border-right: 1px solid $navigationItemBorderColor;

        &:last-child {
            float: right;
            border-right: 0;
        }
    }
}
